<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ДиварTwit</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>It's revolution Johny!!!</header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
