{% extends 'base.html.twig' %}
{% block body %}
    <form action="Post">
        <p>Titile</p>
        <input type="text" placeholder="">
        <p>Text</p>
        <input type="text"><br>
        <input type="submit">
    </form>
{% endblock %}
